<h1 align="center">All Blocipedia-Xers</h1>

<div class="col-xs-10 col-xs-offset-1 tabletop">
  <table class="wikitable" id="one">
    <tr class="tablehead">
      <th>User</th>
      <th>Wikis</th>
    </tr>

<% @users.each do |user| %>
    <tr class="tablehead">
      <td><%= link_to gravatar_index(user), user_path(user), class: "gravatar"%><%= link_to user.username, user_path(user)%> </td>
      <td> <%= pluralize(user.wikis.count, "article") if user.wikis %></td>
   </tr>
<% end %>
  </table>
</div>