 <div class="center jumbotron">
   <h1>Blocpedia-X</h1>
   <p>Create - Collaborate - Edit</p>
   <p>
     <%= link_to "Sign Up", class: "btn btn-primary btn-what"  %> today!
   </p>
 </div>
 
 <div class="row">
   <div class="col-md-6">
    <div class="sign-btn-1">Sign up as a </br>
     <h2><%= link_to "BASIC user" %> </h2></br>
     View, create, update and delete public wikis.</div>
   </div>
   <div class="col-md-6">
    <div class="sign-btn-1">Sign up as a </br>
     <h2><%= link_to "PREMIUM user" %> </h2></br>
     All the standard benefits of a basic user, plus the ability to create private wikis.
     
   </div>

 </div>